.dc-first-row {
  top: 44px !important;
  position: fixed !important;
}

.dc-second-row {
  top: 84px;
  position: fixed;
}

.dc-third-row {
  top: 570px;
  position: fixed;
}

.dc-title-bar {
  background-color: #2C68A1 !important;
  height: 40px;
  width: 320px;
}

.dc-title-bar ::placeholder {
  /* color: #ffffff !important */
  color: #87abc4
}

.dc-title-input {
  background-color: #255a8c;
  margin: 9px 10px;
  display: inline-block;
  border: none;
  outline: none;
  width: 300px;
  line-height: 23px;
  border-radius: 5px;
}

.dc-function-bar {
  width: 320px;
  height: 40px;
}

.dc-nav-bar {
  height: inherit !important;
}

.dc-nav-bar .Mui-selected ::after {
  transform: scaleY(.5);
  transform-origin: 0 0;
  /* margin: 0 5px; */
  background-color: #2C68A1;
  background: #2C68A1;
  content: '';
  display: block;
  height: 4px;
  left: 0;
  position: absolute;
  right: 0;
  top: 38px;
  z-index: 0;
}

.dc-nav-bar span {
  font-size: 14px;
  font-weight: 900;
}

.dc-nav-bar .Mui-selected svg {
  fill: #2C68A1
}

.dc-nav-bar .Mui-selected span {
  color: #000000;
}

.dc-content {
  margin-top: 5px;
  padding: 10px;
  background-color: #ffffff;
}

.dc-content-topic {
  /* padding: 10px 12px 0 15px; */
  display: flex;
  margin-bottom: 5px;
}

.dc-content-topic-avater-box {
  display: flex;
  align-items: center;
}

.dc-content-topic-avater {
  height: 17px !important;
  width: 17px !important;
}

.dc-content-topic-text {
  margin-left: 6px !important;
  color: rgba(0, 0, 0, 0.5);
  flex-grow: 1;
  line-height: 20px !important;
  font-size: 13px !important;
  font-weight: 600 !important;
}

.dc-content-topic-icon {
  align-items: center;
  display: flex;
}

.dc-content-topic-icon svg {
  height: 20px !important;
  height: 20px !important;
}

.dc-content-item {
  display: flex;
}

.dc-content-text-box {
  flex-grow: 1;
}

.dc-content-title-text {
  font-size: 16px !important;
  font-weight: 900 !important;
}

.dc-content-text {
  margin-top: 2px;
}

.dc-content-text-text {
  font-size: 14px !important;
}

.dc-content-like {
  margin-top: 5px;
  display: flex;
}

.dc-content-like p {
  font-size: 13px;
  margin-left: 2px;
  line-height: 19.5px !important;
}

.dc-content-like-like {
  margin-right: 16px !important;
}

.dc-content-like-comment {
  margin-right: 16px !important;
}

.dc-content-like-text {
  margin-right: 16px !important;
}

.dc-content-like svg {
  width: 16px;
  height: 16px;
  fill: #cccccc;
}

.dc-content-img {
  position: relative;
  width: 70px !important;
  height: 70px !important;
}

.dc-content-img img {
  position: absolute;
  inset: 0px;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: inherit;
  height: inherit;
  object-fit: cover;
}