#PhoneBody {
  /* margin: 105px 10px 0 10px; fb */ 
  /* margin: 145px 10px 0 10px; yt */
  margin: 130px 10px 0 10px;
  /* margin: 130px 0; */
  background: #e4e6eb;
  /* height: 475px; fb*/
  /* height: 450px; yt*/
  height: 490px;
  overflow: auto;
  overflow-x: hidden;
}

#PhoneBody::-webkit-scrollbar {
  display: none;
}

.phone-row {
  max-width: 320px !important;
  left: 10px !important;
  box-shadow: none !important;
}