@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,600;0,700;0,800;0,900;1,500;1,600&display=swap');

#PhoneBody {
  margin: 105px 10px 0 10px;
  background: #e4e6eb;
  height: 475px;
  overflow: auto;
  overflow-x: hidden;
}

#PhoneBody::-webkit-scrollbar {
  display: none;
}

.CToolbar {
  padding: 0 10px 0 10px !important;
  box-shadow: none !important;
}

.fb-tb-t {
  /* width: 91px; */
  height: 40px;
  left: 20px;
  top: 45px;

  font-family: 'Raleway';
  font-style: normal;
  letter-spacing: -1px !important;
  font-weight: 700 !important;
  font-size: 27px !important;
  line-height: 23px;
  text-transform: lowercase;

  background: #1776ef;
  /* background: linear-gradient(95.11deg, #384CFF -1.49%, #00A3FF 101.37%); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.fb-tb-b {
  background-color: #e4e6eb !important;
  margin-left: 7px !important;
}

.fb-tb-b svg {
  fill: #050505
}

.fb-sb-b {
  margin-left: 7px !important;
}

.fb-sb-b svg {
  fill: #4c9f38
}

.fb-first-bar {
  max-width: 320px !important;
  max-height: 60px !important;
  left: 10px !important;
  top: 50px !important;
  box-shadow: none !important;
}

.fb-secend-bar {
  box-shadow: none !important;
}

.fb-last-bar {
  max-width: 320px !important;
  max-height: 40px !important;
  left: 10px !important;
  top: 580px !important;
  box-shadow: none !important;
}

.fb-short {
  height: 200px;
  max-width: 320px;
  margin: 10px 0 10px 0;
}

.fb-short-row {
  display: flex;
  height: inherit;
  background-color: #ffffff;
}

.fb-short-col {
  display: flex;
  flex: 1;
  width: 0;
  margin-left: 7px;
  /* margin: 10px 0 10px 5px; */
  height: inherit;
}

.fb-short-create-img {
  height: 110px
}

.fb-short-create-text {
  position: relative;
  top: 145px;
  text-align: center;
  font-size: 14px !important;
}

.fb-short-create-text .MuiIconButton-root {
  position: absolute;
  top: -20px;
  /* left: 31px; */
  background-color: #1776ef;
  border: #ffffff;
  border-style: solid;
  border-width: 5px;
}

.fb-short-create-text .MuiIconButton-root svg {
  fill: #ffffff
}

.fb-short-create-text .MuiTypography-root {
  font-size: 0.925rem;
}

.fb-content {
  max-width: 320px;
  /* margin-top: 10px !important; */
}

.content-1 {
  background-color: white;
  margin-top: 10px !important;
  margin-left: 0px;
}

.content-1 .row-1 {
  /* margin: 7px; */
  padding: 15px 7px 0 10px;
  /* padding: 7px; */
}

.content-1 .row-1 .col {
  display: inline-block;
}

.content-1 .row-1 .col-tool {
  display: inline-flex;
}

.content-1 .row-1 .col-tool .col-tool-moreicon {
  top: -23px;
  left: 90px;
}

.content-1 .row-1 .col-tool .col-tool-closeicon {
  top: -23px;
  left: 100px;
}

.content-1 .row-1 .title {
  margin-left: 5px;
}

.content-1 .row-1 .title .sub-name {
  font-weight: 600;
  font-size: .9375rem;
  line-height: 1.3333;
}

.content-1 .row-1 .title .sub-title {
  font-size: .8125rem;
  font-weight: 400;
}

.content-1 .row-2 {
  /* margin: 7px; */
  padding: 10px !important;
  /* padding: 7px; */
}


.content-1 .row-2 .sub-text {
  font-size: .9rem;
  font-weight: 500;
  line-height: 1;
}

.content-1 .row-like {
  padding: 0 10px 7px 10px;
}

.content-1 .row-like .content-like {
  line-height: 16px;
  font-size: 14px;
  text-decoration: none;
  /* margin: 3px 5px 0 5px; */
  display: inline-block !important;
}

.content-1 .row-like .content-like-count {
  margin-left: 5px !important;
  display: inline-block !important;
  vertical-align: middle;
  font-size: 14px !important;
  font-weight: 200 !important;
}

.content-1 .row-like .content-like-right {
  line-height: 16px;
  font-size: 14px;
  text-decoration: none;
  margin: 3px 5px 0 5px;
  float: right;
}

.content-1 .row-like .content-like-text {
  margin-left: 5px !important;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px !important;
  font-weight: 200 !important;
}

.content-1 .row-share ::before {
  transform: scaleY(.5);
  transform-origin: 0 0;
  margin: 0 10px;
  background-color: #ced0d4;
  background: #dadde1;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.content-1 .row-share-bar {
  padding: 0 10px 0 10px !important;
  box-shadow: none !important;
  min-height: 40px !important;
}

.content-1 .share-text {
  vertical-align: middle;
  display: inline-block !important;
  line-height: 40px;
  font-size: 12px;
}

.content-1 .row-share-col {
  display: flex;
  flex: 1;
  width: 0;
  justify-content: center;
}

.nav-bar-col {
  min-width: 50px !important;
}

.Mui-selected ::before {
  transform: scaleY(.5);
  transform-origin: 0 0;
  margin: 0 5px;
  background-color: #1776ef;
  background: #1776ef;
  content: '';
  display: block;
  height: 4px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.Mui-selected svg {
  fill: #1776ef
}

.Mui-selected span {
  color: #1776ef
}