.yt-search-bar {
  padding: 0 10px 0 10px !important;
  min-height: 60px !important;
  box-shadow: none !important;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.yt-search-bar-button {
  margin-left: 7px !important;
}

.yt-search-bar-button svg {
  fill: #050505
}

.yt-search-bar-avatar {
  margin-left: 7px !important;
  height: 30px !important;
  width: 30px !important;
  /* border-style: solid;
  border-width: 2px;
  border: #050505; */
}

.yt-content {
  background-color: #ffffff;
  margin-bottom: 6px;
}

.yt-content-img img {
  display: block;
  cursor: pointer;
}

.yt-content-row {
  /* padding: 0 10px !important; */
}

.yt-first-row {
  max-width: 320px !important;
  left: 10px !important;
  top: 50px !important;
  box-shadow: none !important;
}

.yt-secend-row {
  max-width: 320px !important;
  left: 10px !important;
  top: 110px !important;
  /* overflow-y: auto; */
  box-shadow: none !important;
}

.yt-third-row {
  max-width: 320px;
  margin: 10px 0 10px 0;
}

.yt-fourth-row {
  max-width: 320px !important;
  max-height: 50px !important;
  left: 10px !important;
  top: 570px !important;
  box-shadow: none !important;
}

.yt-content-nav-bar {
  overflow-y: auto;
  min-height: 40px !important;
  height: 40px !important;
  /* padding: 5px; */
  padding-left: 10px;
  background-color: #ffffff;
}

.yt-content-nav-bar::-webkit-scrollbar {
  display: none;
}

.yt-content-nav-bar svg {
  background-color: inherit;
}

.yt-content-row1 {
  display: flex;
  background-color: #efefef;
  padding: 7px 10px;
}

.yt-content-row1-text {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-size: 12px !important;
  min-width: 0;
}

.yt-content-row1-icon {
  display: flex;
  cursor: pointer;
  /* height: 16px !important;
  width: 16px !important; */
}

.yt-content-row1-icon svg {
  margin: auto;
  height: 17px !important;
  width: 17px !important;
}

.yt-content-row2 {
  display: flex;
  /* background-color: #efefef; */
  padding: 8px 6px 0 10px;
}

.yt-content-row2-text {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-size: 12px !important;
  min-width: 0;
}

.yt-content-row2-icon {
  display: flex;
  cursor: pointer;
  /* height: 16px !important;
  width: 16px !important; */
}

.yt-content-row2-icon svg {
  margin: auto;
  height: 15px !important;
  width: 15px !important;
}

.yt-content-row3 {
  display: flex;
  /* background-color: #efefef; */
  padding: 0 6px 5px 10px;
}

.yt-content-row3-text {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-size: 10px !important;
  opacity: .6;
  min-width: 0;
}

.yt-content-row4 {
  display: flex;
  /* background-color: #efefef; */
  padding: 0 6px 20px 10px;
}

.yt-content-row4-text {
  display: flex;
  flex-grow: 1;
  opacity: .6;
  flex-direction: column;
  font-size: 10px !important;
  min-width: 0;
}

.yt-conten2-row-avatar {
  display: inline-block;
  width: 37px !important;
}

.yt-conten2-avatar {
  display: block;
  margin-bottom: 10px;
  height: 30px !important;
  width: 30px !important;
  left: 8px !important;
  bottom: 13px !important;
}

.yt-content2-row {
  display: inline-block;
  width: 283px !important;
}

.yt-content2-row1 {
  display: flex;
  /* background-color: #efefef; */
  padding: 8px 6px 0 10px;
}

.yt-content2-row1-text {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-size: 12px !important;
  min-width: 0;
}

.yt-conten2-row1-icon svg {
  margin: auto;
  height: 15px !important;
  width: 15px !important;
}

.yt-content2-row2 {
  display: flex;
  /* background-color: #efefef; */
  padding: 0 6px 5px 10px;
}

.yt-content2-row2-text {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-size: 10px !important;
  opacity: .6;
  min-width: 0;
}

.yt-short-bar {
  overflow-y: auto;
}

.yt-short-bar::-webkit-scrollbar {
  display: none;
}

.yt-short-row {
  cursor: pointer;
}

.yt-nav-bar-button {
  min-width: 50px !important;
}

.yt-nav-bar .Mui-selected svg {
  fill: #000
}

.yt-nav-bar .Mui-selected span {
  color: #000
}

.yt-nav-add-button svg{
  height: 35px !important;
  width: 35px !important;
}