body {
  display: block;
}

.MuiSkeleton-rounded {
  border-radius: 40px !important;
}

.survey-container {
  max-width: 1500px;
  margin: 0 auto !important;
}


.MuiFormGroup-root {
  margin-left: 25px;
}