body {
  display: block;
}

.MuiSkeleton-rounded {
  border-radius: 40px !important;
}

.survey-container {
  max-width: 1500px;
  margin: 0 auto !important;
}


.MuiFormGroup-root {
  margin-left: 25px;
}

.survey-step-form {
  padding-top: 20px !important;
}

.survey-step-label {
  font-size: 24px !important;
}

.survey-step-sub-label {
  font-size:  20px !important;
}

@media only screen and (max-width: 600px) {
  .survey-step-label {
    font-size: 18px !important;
  }
  .survey-step-sub-label {
    font-size:  14px !important;
  }
}